
/* ==========================================
   HERO SECTION :
========================================== */

.hero-section {
    min-height: 100vh;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../pictures/west-weald.png");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

