/* ==========================================
   HERO SECTION :
========================================== */

.hero-section {
    min-height: 100vh;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../pictures/west-weald.png");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}


/* ==========================================
   Builds :
========================================== */

/* build overview section */
.build-card {
    border: 1px solid #444;
}

/* build details section */
.build-page {
    background-color: #121212;
}

.table a {
    color: #f0f0f0;
    text-decoration: none;
}

.build-title {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
}

.build-subtitle {
    color: #b8b8b8;
}

.section-title {
    font-family: 'Cinzel', serif;
}

.build-resource {
    text-align: center;
    color: #d0d0d0;
    margin: 75px;
}

.stamina-text {
    color: #4caf50;
}

.magicka-text {
    color: #4da6ff;
}

/* Champion Points Colors */
.cp-craft {
    color: #4caf50 !important;
}

.cp-warfare {
    color: #4da6ff !important;
}

.cp-fitness {
    color: #ff4d4d !important;
}

/* hover for infos */
.info-tooltip {
    position: relative;
}

.info-tooltip-left .tooltip-info {
    left: auto;
    right: 100%;
}

.tooltip-info {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 100%;

    width: 350px;

    background-color: #121212;
    border: 1px solid #c9a227;
    color: white;

    padding: 12px;
}

.info-tooltip:hover .tooltip-info {
    display: block;
}

/* .stamina-text {
    color: green;
}

.magicka-text {
    color: blue;
} */